dev_deps
env.tar.gz
G13-filtered.csv
nwchem-atomization-v0
nwc-run.sh
nwc-submit.sh
__pycache__
python_package_run.6UyxvT
python_package_run.ydFXZ0
README.md
redis.out
runs/*
scratch
xtb-atomization-v1
